
/* GUIA */

/* 1. General Reset y estilos del Body */
/* 2. Font Face */
/* 3. Estilos del Contenedor */
/* 5. Estilos de la Barra de Navegación */
/* 6. Estilos del Logo */
/* 7. Checkbox para el Menú */
/* 8. Estilos del Icono de Usuario */
/* 9. Barra de Desplazamiento Personalizada */
/* 10. Botón de Desplazamiento hacia Arriba */
/* 11. Media Queries (Responsive) */
/* 12. Estilos del Header */
/* 13. Media Queries para el Header */
/* 14. Estilos de la Galería */
/* 15. Estilos del Carousel de Imágenes */
/* 16. Estilos de la Sección de Merchandising */
/* 17. Estilos de la Galería de Remeras */
/* 18. Media Queries (Responsive para Galerías) */
/* 19. Estilos de la Sección de Contacto */
/* 20. Carousel de Imágenes */
/* 21. Estilos del Footer */
/*22. Estilos Register*/


/* 1. General Reset y estilos del Body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    background-color: #333 !important;
}

body {
    font-family: 'TAN-NIMBUS', sans-serif !important;
}

/* 2. Font Face */
@font-face {
    font-family: 'TAN-NIMBUS';
    src: url('/A332_Grupo4_ParcialLabo3.github.io/assets/fonts/TAN-NIMBUS.ttf') format('truetype');
}

/* 3. Estilos del Contenedor */
.container, .navbar, .nav-container, .menu-items, .header, .gallery, .merch-section, .contact-container, footer {
    box-sizing: border-box;
    max-width: 100%;
}


/* 5. Estilos de la Barra de Navegación */
.navbar {
    background-color: #1E1C1C;
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 1000 !important;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    position: relative; 
    z-index: 1100;
}

.navbar .menu-items {
    padding-top: 120px;
    background-color: #1E1C1C;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    background-color: #1E1C1C;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

/* 6. Estilos del Logo */
.logo {
    display: flex;
    align-items: center;
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 10;
    margin-top: 10px;
}

.logo h3 {
    font-weight: 50;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

/* 7. Checkbox para el Menú */
.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/* 8. Estilos del Icono de Usuario */
.user-icon {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right:50px;
}

.user-icon img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

/* 9. Barra de Desplazamiento Personalizada */
::-webkit-scrollbar {
    width: 12px;  /* Ancho de la barra de desplazamiento */
    background-color: #f9f9f9;  /* Color de fondo */
}

::-webkit-scrollbar-thumb {
    background-color: #000000;  /* Color del manejador */
    border-radius: 6px;  /* Redondea las esquinas del manejador */
    border: 3px solid #f9f9f9;  /* Borde del manejador */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;  /* Sombra interna en la pista */
    border-radius: 10px;  /* Redondea las esquinas de la pista */
}

::-webkit-scrollbar-button {
    display: block;
    height: 2px;
    background-color: #000000;
}

/* 10. Botón de Desplazamiento hacia Arriba */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.3s, display 0.3s ease-in-out;
}

.scroll-to-top:hover {
    opacity: 1;
}

/* 11. Media Queries (Responsive) */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: #000000;
        transition: top 0.3s;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000000;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #000000;
    }

    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show > .nav-link {
        color: #ffffff;
    }
}

/* 12. Estilos del Header */
.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: auto;
}

.carousel-item {
    height: 100vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.carousel-caption {
    border-radius: 10px;
    padding: 20px;
}

.carousel-fixed-text {
    position: absolute;
}

@media (min-width:992px){
    .carousel-fixed-text {
        top: 30%;
        left: 60%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 10px;
        border-radius: 20px;
    }
} 

.carousel-fixed-text h1,
.carousel-fixed-text h3,
.carousel-fixed-text p {
    margin: 0;
    padding: 0.25em 1em;
    color: rgb(255, 255, 255);
}

.carousel-fixed-text h1 {
    font-size: 4em;
    text-shadow: 6px 6px 8px #000000;
}

.carousel-fixed-text h3 {
    font-size: 2em;
    text-shadow: 6px 6px 8px #000000;
}

.carousel-fixed-text p {
    font-size: 1.5em;
    color: rgb(172, 172, 172);
    text-shadow: 6px 6px 8px #000000;
}

.carousel-fixed-text .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 4px solid #000;
    gap: 10px; /* Agrega espacio entre el texto y la imagen */
}

.carousel-fixed-text .btn:hover {
    color: #000000;
    background-color: #ffffff;
    border-radius: 25px;
    transform: scale(1.01);
    border: 4px solid #000;
}

.btn-icon {
    width: 20px;
    height: 20px;
}

/* 13. Media Queries para el Header */
@media (max-width: 992px){
    #headerCarousel{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .header {
        height: 50vh;
    }

    .carousel-item {
        height: 50vh;
    }

    .carousel-caption {
        font-size: 12px;
    }
}

/* 14. Estilos de la Galería */
.gallery {
    background-color: #1E1C1C;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.gallery .container-fluid {
    padding: 0;
}

.gallery .row {
    margin: 0;
    width: 100%;
}

.gallery .col-md-3,
.gallery .col-12 {
    padding: 0;
    margin: 0;
}

.gallery img {
    width: 100%;
    height: 425px;
    display: block;
}

.vinilos-fotos .col-md-3,
.cd-fotos .col-md-3 {
    padding: 0;
    margin: 0;
}

.vinilos-fotos .col-md-3 a,
.cd-fotos .col-md-3 a {
    display: block;
    padding: 0;
    margin: 0;
}

.gallery h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    padding: 50px 0;
}

/* 15. Estilos del Carousel de Imágenes */
#imageCarousel .carousel-item {
    /* height: 550px; */
    height: auto;
}

#imageCarousel .carousel-item img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    object-fit: cover;
    filter: brightness(90%);
}

/* 16. Estilos de la Sección de Merchandising */
.merch-section .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.merch-section {
    padding: 50px 0;
    background-color: #1E1C1C;
    color: #fff;
}

.merch-section h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.remera {
    justify-content: center;
    text-align: center;
}

.merch-section .img-fluid {
    margin: 5px;
    max-width: 100%;
    transition: transform 0.3s;
}

.merch-section .img-fluid:hover {
    transform: scale(1.05);
}

.merch-section .img-center1 {
    transition: transform 0.3s;
    /* margin-left: 50px; */
    padding-top: 80px;
    width: 20vw;
}

.merch-section .img-center2 {
    transition: transform 0.3s;
    padding-top: 40vh;
    /* width: 650px; */
    width: 25vw    
}

.merch-section .img-center3 {
      position: absolute;
      width: 12vw;
      top: 28%;
      left: 60%; 
      transform: rotate(35deg) translate(-50%, 10%);
      height: 15vh;
      animation: scaleAndRotate 2s infinite;
  }

.merch-section .img-center4 {
    display: none;
    padding-left: 50px;    
}

.bg-color1, .bg-color4 {
    background-color: rgb(205, 103, 80);
}

.bg-color2 {
    background-color: rgb(246, 217, 143);
}

.bg-color3 {
    background-color: rgb(246, 217, 143);
}

.merch-section .btn {
    font-size: 20px;
    position: relative;
    padding: 10px 30px;
    color: #000000;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.merch-section .btn:hover {
    background-color: black;
    transform: scale(1.01);
}

.container-remeras{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

/* 17. Estilos de la Galería de Remeras */
.gallery_Remeras .container-fluid {
    padding: 0; /* Establece el padding a 0 */
}

.gallery_Remeras {
    background-color: #1E1C1C;
    color: #fff;
    padding: 0;
    margin: 0px;
}

.gallery_Remeras .row {
    margin: 0;
    width: 100%;
}

.gallery_Remeras .col-md-3,
.gallery_Remeras .col-12 {
    padding: 5px;
    margin: 0px;
    background-color: #1E1C1C;
}

.gallery_Remeras .col-12 .col-md-12 {
    border: 1px solid white;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(246, 217, 143);
}

.gallery_Remeras .btn {
    font-size: 20px;
    position: relative;
    top: -50px;
    padding: 10px 30px;
    color: #000000;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.gallery_Remeras .btn:hover {
    background-color: black;
    transform: scale(1.01);
}

.gallery_Remeras img {
    transition: transform 0.3s;
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 20px;
    border-radius: 8px;
}

.gallery_Remeras .img-fluid:hover {
    transform: scale(1.05);
    border-radius: 8px;
    cursor: pointer;
}

.remeras-fotos .col-md-3 {
    padding: 30px;
}

.gallery_Remeras .col-12 .col-md-3 {
    padding: 10px;
    margin: 50px;
}

.remeras-fotos .col-md-3 a {
    display: block;
    padding: 0;
    margin: 0;
}

.gallery_Remeras h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 10px;
}

.gallery_Remeras h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    padding: 50px 0;
}

/* 18. Media Queries (Responsive para Galerías) */
@media (max-width: 320px) {
    .gallery_Remeras .row {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flex a columna */
        padding: 10px; /* Añade padding alrededor de la galería */
    }
    .gallery_Remeras .col-md-3, .gallery_Remeras .col-12 {
        flex: 1 0 100%; /* Cada imagen ocupará el 100% del ancho */
        margin-bottom: 10px; /* Añade margen inferior entre las imágenes */
    }
    .gallery_Remeras img {
        width: 100%; /* Asegura que las imágenes ocupen el 100% del ancho disponible */
        height: auto; /* Mantén la altura automática */
    }
    .gallery_Remeras h2 {
        font-size: 18px; /* Reduce el tamaño de fuente */
        margin: 10px 0; /* Añade margen para separar el título del contenido */
    }
    .gallery_Remeras {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }

    .merch-section .img-center4 {
        position: absolute;
        top: 10%;
        left: 60%;
        display: block;
        height: 130px; /* Mantén la proporción */
    }

    .merch-section .img-center3 {
        display: none;
    }
}

    .container-img-center-merch{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
@media (max-width: 425px) {
    .gallery_Remeras .row {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flex a columna */
        padding: 10px; /* Añade padding alrededor de la galería */
    }
    .gallery_Remeras .col-md-3, .gallery_Remeras .col-12 {
        flex: 1 0 100%; /* Cada imagen ocupará el 100% del ancho */
        margin-bottom: 10px; /* Añade margen inferior entre las imágenes */
    }
    .gallery_Remeras img {
        width: 100%; /* Asegura que las imágenes ocupen el 100% del ancho disponible */
        height: auto; /* Mantén la altura automática */
    }
    .gallery_Remeras h2 {
        font-size: 20px; /* Reduce el tamaño de fuente */
        margin: 10px 0; /* Añade margen para separar el título del contenido */
    }
    .gallery_Remeras {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }

    .merch-section .img-center4 {
        position: absolute;
        /* top: 10%;
        left: -200%; */
        display: block;
        height: 130px; /* Mantén la proporción */
    }

    .merch-section .img-center3 {
        display: none;
    }
}

@media (max-width: 768px) {
    .gallery_Remeras .col-md-12 {
        padding: 40px;
    }
    .gallery_Remeras .col-md-3 {
        flex: 1 0 48%; /* Ajusta el ancho al 48% para dos columnas */
        margin-bottom: 2%; /* Añade un poco de margen inferior */
    }
    .gallery_Remeras img {
        height: auto; /* Mantén la altura automática */
    }
    .gallery_Remeras h2 {
        font-size: 24px; /* Ajusta el tamaño de fuente */
    }

    .merch-section .img-center1 {
        margin-left: 0;
        padding-left: 0;
        width:75vw;
    }

    .merch-section .img-center4 {
        position: relative;
        /* top: 10%;
        left: 60%; */
        display: block;
        transform: rotate(180deg);
        height: 130px; /* Mantén la proporción */
    }

    .merch-section .img-center3 {
        display: none;
    }

    .merch-section .img-center2 {
        width: 75vw;
        padding: 0;
    }

    .container-img-center-merch{
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .gallery_Remeras .col-md-12 {
        padding: 45px;
    }
    .gallery_Remeras .col-md-3 {
        flex: 1 0 48%; /* Ajusta el ancho al 48% para dos columnas */
        margin-bottom: 2%; /* Añade un poco de margen inferior */
    }
    .gallery_Remeras img {
        height: auto; /* Mantén la altura automática */
    }
    .gallery_Remeras h2 {
        font-size: 28px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    }
    /* .merch-section .img-center3 {
        display: none;
    } */
}

/* 19. Estilos de la Sección de Contacto */
.contact-container {
    /* display: flex; */
    height: 100%;
}

.contact-image {
    width: 50%;
}

.contact-image iframe {
    width: 100%;
    height: 100%;
    min-height: 510px;
    border: 0;
}

.contact-info {
    width: 50%;
    background-color: #1E1C1C;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-info p {
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-info label {
    color: #ffffff;
    margin-bottom: 5px;
}

.contact-info form {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    width: 100%;
    margin: 0;
}

.contact-info input[type="text"],
.contact-info input[type="email"],
.contact-info textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
}

.contact-info input[type="text"]::placeholder,
.contact-info input[type="email"]::placeholder,
.contact-info textarea::placeholder {
    color: #666;
}

.contact-info button {
    font-size: 18px;
    padding: 10px 20px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-info button:hover {
    background-color: #ffffff;
    transform: scale(1.01);
}

/* 20. Carousel de Imágenes */
#newImageCarousel .carousel-item {
    /* height: 550px; */
    height: auto;
}

#newImageCarousel .carousel-item img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    object-fit: cover;
    filter: brightness(90%);
}

/*21 Estilos Register */
.input-radius{
    border-radius:30px !important;
}

.btn-submit{
    border: 3px solid black !important;
}

/* 22. Estilos del Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section.logo-section img {
    max-width: 100px; /* Ajusta el tamaño máximo del logo */
    height: auto; /* Mantiene la relación de aspecto */
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-section .social-media {
    display: flex;
    gap: 10px;
}

.footer-section .social-media img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    color: #cda45e;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #b3924f;
}

/* Media Queries para el Footer */
@media (max-width: 600px) {
    .products .product-item {
        width: 100%;
    }
}

/* 19. Estilos de la Sección de Sobre Nosotros */
.nosotros {
    background-color: #1E1C1C;
}

.nosotros-container {
    display: flex;
    height: 100%;
}


.nosotros-texto {
    width: 50%;
}

.nosotros-info {
    width: 50%;
    background-color: #1E1C1C;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros-info h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.nosotros-info p {
    color: #ffffff;
    margin-bottom: 20px;
}

.nosotros-info label {
    color: #ffffff;
    margin-bottom: 5px;
}

.nosotros-info form {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    width: 100%;
    margin: 0;
}

.nosotros-info input[type="text"],
.nosotros-info input[type="email"],
.nosotros-info textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
}

.nosotros-info input[type="text"]::placeholder,
.nosotros-info input[type="email"]::placeholder,
.nosotros-info textarea::placeholder {
    color: #666;
}

.nosotros-info button {
    font-size: 18px;
    padding: 10px 20px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nosotros-info button:hover {
    background-color: #ffffff;
    transform: scale(1.01);
}

/* Media Queries para 320px */
@media (max-width: 320px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: #000;
        transition: top 0.3s;
    }
    .header {
        height: 50vh;
    }
    .carousel-item {
        height: 50vh;
    }
    .carousel-caption {
        font-size: 12px;
    }
    .gallery .row {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flex a columna */
        padding: 10px; /* Añade padding alrededor de la galería */
    }
    .gallery .col-md-3, .gallery .col-12 {
        flex: 1 0 100%; /* Cada imagen ocupará el 100% del ancho */
        margin-bottom: 10px; /* Añade margen inferior entre las imágenes */
    }
    .gallery img {
        width: 100%; /* Asegura que las imágenes ocupen el 100% del ancho disponible */
        height: auto; /* Mantén la altura automática */
    }
    .gallery h2 {
        font-size: 18px; /* Reduce el tamaño de fuente */
        margin: 10px 0; /* Añade margen para separar el título del contenido */
    }
    .gallery {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }
    .gallery .container-fluid {
        padding: 0;
    }
    .carousel-fixed-text h1,
    .carousel-fixed-text p {
        font-size: 1rem;
    }
    .merch-section h2 {
        font-size: 28px;
    }
    .contact-container {
        flex-direction: column-reverse;
    }
    .contact-info {
        width: 100%;
    }
    .contact-image {
        width: 100%;
    }
    .contact-info h2 {
        font-size: 1.8rem;
    }
    .products .product-item {
        width: 100%;
    }
    .contact-info form {
        margin-top: 20px;
    }
    .contact-info input[type="text"],
    .contact-info input[type="email"],
    .contact-info textarea {
        width: 100%;
    }
    .contact-info button {
        margin-top: 20px;
    }
    .contact-info label {
        margin-bottom: 10px;
    }
    .contact-info p {
        margin-bottom: 10px;
    }

    .user-icon{
        display: none;
    }
}

/* Media Queries para 425px */
@media (max-width: 425px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: #000;
        transition: top 0.3s;
    }
    .header {
        height: 50vh;
    }
    .carousel-item {
        height: 50vh;
    }
    .carousel-caption {
        font-size: 12px;
    }
    .gallery .row {
        display: flex;
        flex-direction: column; /* Cambia la dirección del flex a columna */
        padding: 10px; /* Añade padding alrededor de la galería */
    }
    .gallery .col-md-3, .gallery .col-12 {
        flex: 1 0 100%; /* Cada imagen ocupará el 100% del ancho */
        margin-bottom: 10px; /* Añade margen inferior entre las imágenes */
    }
    .gallery img {
        width: 100%; /* Asegura que las imágenes ocupen el 100% del ancho disponible */
        height: auto; /* Mantén la altura automática */
    }
    .gallery h2 {
        font-size: 20px; /* Reduce el tamaño de fuente */
        margin: 10px 0; /* Añade margen para separar el título del contenido */
    }
    .gallery {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }
    .gallery .container-fluid {
        padding: 0;
    }
    .carousel-fixed-text h1,
    .carousel-fixed-text p {
        font-size: 1rem;
    }
    .merch-section h2 {
        font-size: 30px;
    }
    .contact-container {
        flex-direction: column-reverse;
    }
    .contact-info {
        width: 100%;
    }
    .contact-image {
        width: 100%;
    }
    .contact-info h2 {
        font-size: 2rem;
    }
    .products .product-item {
        width: 100%;
    }
    .contact-info form {
        margin-top: 20px;
    }
    .contact-info input[type="text"],
    .contact-info input[type="email"],
    .contact-info textarea {
        width: 100%;
    }
    .contact-info button {
        margin-top: 20px;
    }
    .contact-info label {
        margin-bottom: 10px;
    }
    .contact-info p {
        margin-bottom: 10px;
    }
}

/* Media Queries para 768px */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: #000;
        transition: top 0.3s;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000;
    }
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #000;
    }
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show > .nav-link {
        color: #fff;
    }
    .header {
        height: 50vh;
    }
    .carousel-item {
        height: 50vh;
    }
    .carousel-caption {
        font-size: 12px;
    }
    .gallery .col-md-12 {
        padding: 40px;
    }
    .gallery .container-fluid {
        padding: 0;
    }
    .carousel-fixed-text h1,
    .carousel-fixed-text p {
        font-size: 1.2rem;
    }
    .merch-section h2 {
        font-size: 32px;
    }
    .contact-info h2 {
        font-size: 2.2rem;
    }
    .products .product-item {
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .gallery .col-md-3 {
        flex: 1 0 48%; /* Ajusta el ancho al 48% para dos columnas */
        margin-bottom: 2%; /* Añade un poco de margen inferior */
    }
    .gallery img {
        height: auto; /* Mantén la altura automática */
    }
    .gallery h2 {
        font-size: 24px; /* Ajusta el tamaño de fuente */
    }
}

/* Media Queries para 1024px */
@media (max-width: 1024px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        color: #000;
        transition: top 0.3s;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000;
    }
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #000;
    }
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show > .nav-link {
        color: #fff;
    }
    .header {
        height: 70vh;
    }
    .carousel-item {
        height: 70vh;
    }
    .carousel-caption {
        font-size: 14px;
    }
    .gallery .col-md-12 {
        padding: 45px;
    }
    .gallery .container-fluid {
        padding: 0;
    }
    .carousel-fixed-text h1,
    .carousel-fixed-text p {
        font-size: 1.4rem;
    }
    .merch-section h2 {
        font-size: 34px;
    }
    .contact-info h2 {
        font-size: 2.4rem;
    }
    .products .product-item {
        width: 90%;
    }
    .footer-container {
        flex-direction: row;
        align-items: center;
    }
    .gallery .col-md-3 {
        flex: 1 0 48%; /* Ajusta el ancho al 48% para dos columnas */
        margin-bottom: 2%; /* Añade un poco de margen inferior */
    }
    .gallery img {
        height: auto; /* Mantén la altura automática */
    }
    .gallery h2 {
        font-size: 28px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    }
}

@media (max-width: 576px){
    .container-scroll{
        display: flex;
        overflow: auto;
    }
    .gallery img{
        max-width: 100vw;
        width: 100vw;
    }
}

hr{
    width: 75%;
    color: white;

}
